<p id="notice"><%= notice %></p>

<p>
  <strong>Nazov clanku:</strong>
  <h1><%= @article.title %></h1>
</p>

<p>
  <strong>Obsah:</strong><br>
  <%= @article.content %>
</p>

<h2>Autor:</h2>
<p>
  <strong>Meno:</strong><%=  @article.author.name %>
</p>
<p>
  <strong>Vek:</strong><%=  @article.author.age %>
</p>
<p>
  <strong>email:</strong><%=  @article.author.email %>
</p>
<hr>

<h2>Komentare</h2>
<% @article.comments.each do |comment| %>
    <p>
      <%= comment.created_at.to_s(:short) %> napisal <strong><%= comment.commenter %></strong>:
      <q><%= comment.comment_body %></q>
    </p>
<% end %>

<hr>
<%= debug @article.author %>

<h2>Pridat komentar:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :commenter %><br />
      <%= f.text_field :commenter %>
    </div>
    <div class="field">
      <%= f.label :comment_body %><br />
      <%= f.text_area :comment_body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
